.search-root {
  position: relative;
  z-index: 1;
  padding: var(--vpd) var(--spd);
  background-color: #fff;  
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 1rem;

  .label {
    white-space: nowrap;
  }

  &.flex-grow {
    gap: 0.5rem
  }
}

.search-grow { 
  flex: 1;
}

.search-row-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-date {
  display: flex;
  align-items: stretch;
  height: 3.6rem;

  input {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
  }
}

.search-month {
  width: 3.6rem;
  background: url(/src/assets/images/icon/ico_calendar.svg) no-repeat center top -1px;
}

.search-day {
  display: flex;
  align-items: center;

  input {
    width: 3rem;
    height: 3rem;
    border-radius: 2px;
    background-color: #50c8d9;
  }

  .button-icon {
    width: 2rem;
    margin: 0 -0.5rem;
  }
}

.timepk-wrap {
  position: relative;
  display: flex;
  gap: 0.4rem;

  input {
    padding: 0;
    text-align: center;

    &:read-only {
      background-color: inherit;
      color: inherit
    }
  }
}

.search-btns {
  text-align: right;
  padding: 1rem var(--spd) 0
}

.portal-cont > .search-btns:first-child { margin-top: -0.5rem }

.search-result-btns {
  text-align: right;
  margin: -1rem 0 0.6rem
}

.search-result-top {
  display: flex;
  min-height: 1.8rem;
  margin-bottom: .7rem;
  font-size: 1.5rem;
  line-height: 1.2;
  
  .date {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--primary-t);

    &::before {
      content: '';
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background: url(/src/assets/images/icon/ico_arr_circle.svg) no-repeat left center / contain;
    }
  }

  .time {
    display: inline-flex;
    align-items: center;
    margin-left: 1.8rem;
    color: var(--primary-t);

    &::before {
      content: '';
      width: 1.8rem;
      height: 1.8rem;
      background: url(/src/assets/images/icon/ico_clock.svg) no-repeat left center;
      opacity: 0.5;
    }
  }

  .count {
    margin-left: auto;
    font-size: 1.2rem; 

    em {
      padding: 0 0.3rem;
      font-weight: inherit;
      color: var(--primary-t);
    }
  }

  .help {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 5px 
  }
}

.portal-cont .search-result-top:first-child {
  margin-top: -0.5rem
}

.flt-search {
  position: relative;

  .button-icon {
    position: absolute;
    inset: 0 auto 0 3px;
    margin-top: auto;
    margin-bottom: auto
  }

  .form-textfield {
    padding-left: 4rem;

    &:read-only { background-color: inherit }
  }
}