.table-data {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px double #979797;
  border-left: 0 hidden;
  border-right: 0 hidden;
  line-height: 1.3;

  th {
    width: 30%;
    height: 4.2rem;
    padding: 1rem;
    border: 1px solid #E3E0E0;
    vertical-align: middle;
    font-size: 1.4rem;
    text-align: left;
    font-weight: 600
  }

  td {
    padding: 1rem;
    border: 1px solid #E3E0E0;
    font-size: 1.2rem;
    vertical-align: middle;
  }

  a {
    text-decoration: underline;
  }

  .important { color: var(--primary-t) }
}

.table-list {
  width: 100%;
  border-collapse: collapse;
  
  thead th {
    height: 4.2rem;
    padding: 0.5rem;
    background-color: #E8E6E6;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 600
  }

  td {
    height: 4.2rem;
    padding: 0.5rem;
    border-bottom: 1px solid #E3E0E0;
    vertical-align: middle;
    font-size: 1.3rem;
    text-align: center
  }

  tbody tr:nth-child(even) {
    background-color: #E1F5FF
  }
}