.table-data {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #979797;
  border-left: 0 hidden;
  border-right: 0 hidden;
  line-height: 1.3;
  font-size: 1.4rem;
  background-color: #fff;

  thead th {
    height: 4.2rem;
    background-color: #E8E6E6;
    vertical-align: middle;
    font-weight: 600;
    border-left: 1px solid #d8d6d6
  }

  tbody {
    th {
      width: 30%;
      height: 4.2rem;
      padding: 1rem;
      border-bottom: 1px solid #E3E0E0;
      border-left: 1px solid #E3E0E0;
      vertical-align: middle;
      text-align: left;
      font-weight: 600
    }

    td {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #E3E0E0;
      border-left: 1px solid #E3E0E0;
      vertical-align: middle;
    }
  }  

  a {
    text-decoration: underline;
  }

  .important { color: var(--primary-t) }

  &.c-t01 {
    th { background-color: #E1F5FF }
  }
  &.c-t02 {
    th { background-color: #EAFFF5 }
  }

  &.table-flt {
    th { width: 15rem }
    td { text-align: right }
    th, td {
      padding-left: 2rem;
      padding-right: 2rem
    }

    th em {
      font-weight: inherit;
      color: var(--error)
    }
  }

  &.table-center {
    th, td { text-align: center }
  }

  &.table-auto {
    th { width: unset }
  }

  .button-root {
    height: 3.2rem;
    padding: 0 1.5rem
  }

  .require::before {
    content: '*';
    color: var(--error)
  }

  .form-textfield { height: 3.2rem }
  .text-right .form-textfield {margin-right: -5px}
  .select-root { height: 3.2rem }
}

.table-list {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  
  thead th {
    height: 4.2rem;
    padding: 0.5rem;
    background-color: #E8E6E6;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
  }

  td {
    height: 4.2rem;
    padding: 0.4rem;
    border-bottom: 1px solid #E3E0E0;
    vertical-align: middle;
    font-size: 1.3rem;
    text-align: center;
    word-break: break-all;
  }

  tbody tr:active,
  tbody tr.active {
    background-color: #E1F5FF
  }

  &.c-t01 {
    thead th {
      background-color: #5CC3F5;
      color: #fff
    }
    td em {
      font-weight: inherit;
      color: #1084BD
    }
  }

  &.c-t02 {
    thead th {
      background-color: #61CA96;
      color: #fff
    }
    tbody tr:active {
      background-color: #D4FFEA
    }
  }

  &.c-t03 {
    thead th {
      background-color: #8CADDD;
      color: #fff
    }
    tbody tr:active {
      background-color: #DFECFF
    }
  }

  &.c-t04 {
    thead th {
      background-color: #607FAC;
      color: #fff;
      font-weight: 600
    }
    tbody tr {
      &:active,
      &:focus,
      &.active {
        background-color: #D8E8FF
      }
    }
  }

  .bg-c01 { background-color: #FF6E66 }
  .bg-c02 { background-color: #E1F5FF }
  .bg-c03 { background-color: #FCE1A7 }
}

table caption {
  padding: 1rem 0;
  text-align: left;
  font-size: 1.2rem;

  em { font-size: 1.3rem }
}

.table-header {
  display: flex;
  align-items: center;
  height: 3.6rem;
  font-size: 1.4rem
}

.table-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  font-size: 1.2rem
}

.wrap-pop {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 700px
}

.input-comm {
  width: 100%;
  height: 100%;
  border: 0
}

.select-wrap {
  display: flex;
  gap: 0.5rem;

  .select-root {
    flex: 1
  }
}

.table-fixed {
  table-layout: fixed !important;
}

.table-center {
  td { text-align: center }

  & + & {
    margin-top: 0.6rem
  }
}

.flex-3 {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  table {
    flex-grow: 1
  }

  thead th {
    padding: 0;
  }

  .radiogroup-root {
    justify-content: center;
    padding-left: 0
  }
}

.table-airline {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 1.5rem;

  thead th {
    height: 4.2rem;
    background: #CCEEF0;
    color: #222;
    vertical-align: middle;
    font-weight: 600;
  }

  tbody td {
    height: 5.9rem;
    padding: 1rem;
    border-bottom: 1px solid #f0f0f0;
    vertical-align: middle;
    text-align: center;
    color: #666;

    em {
      color: #222;
      font-weight: 600;
    }
  }

  tfoot {
    th, td {
      height: 4.2rem;
      padding: 1rem;
      vertical-align: middle;
      text-align: center;
      background-color: #ABDEE3;
    }
  }

  .flt-wrap { color: #666 }
}

.text-left {
  text-align: left !important;
  padding-left: 1.5em !important
}

td.text-right {
  text-align: right !important;
  padding-right: 1.5em !important
}

span.text-right {
  display: block;
  text-align: right !important;
  padding-right: 1rem !important
}

.table-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .table-data:not(:first-child) {
    border-top: 0 none
  }
}