:root .ico-root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;

  &.chk {  
    position: relative;
    width: 1.65rem;
    height: 1.65rem;
    border-radius: 50%;
    border: 1px solid;
    background-color: #fff;
    color: #B3B0B0;

    &.active {
      border: 0;
      background-color: #007AFF;
      color: #fff
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      width: 6px;
      height: 8px;
      border-right: 2px solid;
      border-bottom: 2px solid;
      border-radius: 2px;
      transform: rotate(45deg) translate(-1px,-1px);
    }
  }

  &.close {
    font-size: 4rem;
    font-weight: 200;

    &::after {
      content: '×';
      display: block;
      line-height: 3rem
    }
  }

  &.nodata {
    width: 6.3rem;
    height: 7.4rem;
    margin-left: 1rem;
    background: url(/src/assets/images/pic/pic_nodata.png) no-repeat center center / contain;
  }

  &.download {
    width: 1.4rem;
    height: 1.3rem;
    border-bottom: 1px solid;
    position: relative;

    &::after {
      content: "→";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      margin-top: -1px;
    }
  }

  &.bookmark {
    background: url(/src/assets/images/icon/ico_bookmark.svg) no-repeat center center / 2rem;
  }

  &.bookmark-w {
    background: url(/src/assets/images/icon/ico_bookmark_w.svg) no-repeat center center / 2rem;
  }

  &.back {
    transform: rotate(90deg);
    background: url(/src/assets/images/icon/ico_arr.svg) no-repeat center center / 2rem
  }

  &.refresh {
    background: url(/src/assets/images/icon/ico_refresh.svg) no-repeat center center / 2rem;
  }

  &.user {
    background: url(/src/assets/images/icon/ico_user.svg) no-repeat center center / 2rem;
  }

  &.bell {
    background: url(/src/assets/images/icon/ico_bell.svg) no-repeat center center / 2rem;
  }

  &.push {
    background: url(/src/assets/images/icon/ico_bell-blue.svg) no-repeat center center / 1.6rem;
  }

  &.set {
    background: url(/src/assets/images/icon/ico_set.svg) no-repeat center center / 2.4rem;
  }

  &.out {
    background: url(/src/assets/images/icon/ico_out.svg) no-repeat center center / 1.8rem;
  }

  &.help {
    background: url(/src/assets/images/icon/ico_help_s.svg) no-repeat center center / 1.6rem;
    // width: 1.6rem;
    // height: 1.6rem;
    // border: 1px solid currentColor;
    // border-radius: 50%;
    // font-size: 1.3rem;
    // &::after {
    //   content: '?'
    // }
  }

  &.snow {
    background: url(/src/assets/images/icon/ico_snow.svg) no-repeat center center / 2.1rem
  }

  &.history {
    background: url(/src/assets/images/icon/ico_history.svg) no-repeat center center / 2.3rem
  }

  &.power {
    background: url(/src/assets/images/icon/ico_power.svg) no-repeat center center / 1.8rem
  }

  &.home {
    background: url(/src/assets/images/icon/ico_home.svg) no-repeat center center / 2.1rem
  }

  &.search {
    background: url(/src/assets/images/icon/ico_search.svg) no-repeat center center / 1.5rem
  }

  &.pdf {
    height: 4rem;
    background: url(/src/assets/images/pic/pic_pdf.png) no-repeat center center / 3.4rem
  }

  &.finger {
    width: 4.8rem;
    height: 4.8rem;
    background: url(/src/assets/images/pic/pic_finger.png) no-repeat center center / contain
  }

  &.hamburger {
    width: 2.2rem;
    height: 2px;
    border-radius: 2px;
    background-color: #000;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #000;
      transition: transform .2s
    }

    &::before { transform: translate(-50%, calc(-50% - 7px)) }
    &::after { transform: translate(-50%, calc(-50% + 7px)) }
  }

  &.add, &.del {
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 2px;
      background-color: #222;
      transform: translate(-50%, -50%);
    }
  }

  &.add::after { transform: translate(-50%, -50%) rotate(90deg) }
  &.del::after { content: none }

  &.prev, &.next {
    width: 0;
    height: 0;
    
    &::before {
      content: '';
      position: absolute;
      border: 5px solid transparent;
      border-right-color: #000;
      transform: translate(-80%, -50%);
    }
  }
  &.next { transform: scaleX(-1) }

  &.lt, &.gt, &.dt, &.ut {
    position: relative;
    transition: transform .2s;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% + 1px);
      width: 1rem;
      height: 1rem;
      display: block;
      border-bottom: 2px solid currentColor;
      border-right: 2px solid currentColor;
      border-radius: 1px;
      transform: rotate(135deg) translateY(60%)
    }
  }
  &.gt { transform: scaleX(-1) }
  &.dt { transform: rotate(-90deg) }
  &.ut { transform: rotate(-270deg) }
}

// icon button
.button-icon.active .ico-root,
.ico-root.active {
  &.refresh { animation: spin .8s ease-out }  
  &.hamburger {
    background-color: transparent;
    &::before { transform: translateX(-50%) rotate(135deg) }
    &::after { transform: translateX(-50%) rotate(225deg) }
  }
  &.bookmark { background-image: url(/src/assets/images/icon/ico_bookmark_on.svg) }
}

.button-icon {
  &.active {
    .badge { visibility: visible }
  }
  .badge {
    position: absolute;
    top: 5px;
    right: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #FF3B30;
    box-sizing: content-box;
    visibility: hidden;
  } 
}

.ico-weather {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 3.6rem;

  img {
    max-width: 100%;
    object-fit: contain;
    margin: auto;
  }

  .ico-lightning {
    width: 2.8rem
  }
}


.ico-label {
  display: flex;
  margin-right: auto;
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  background-color: #50C8D9;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1;

  &.c-err {
    color: #fff !important;
    background-color: var(--error);
  }
}

.badge-root {
  display: inline-block;
  min-width: 2.6rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 2px;
  background-color: #53BCF8;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;

  &.c-b02 { background-color: #4ECE2F }
  &.c-b03 { background-color: #FF2C8A }
}

.title-bar .ico-root.help,
.departures-legend-btn .ico-root.help {
  opacity: 0.5;
  background-size: 1.8rem;
} 