@mixin tablet {
    @media screen and (max-width: 1269px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}


@mixin ellipsis($lines: 1) {
    @if ($lines==1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

@mixin formStyle {
    &:disabled {
        background-color: #eaeaea;
        color: #999;
        cursor: not-allowed
    }

    &:hover:not(:disabled) { border-color: #aaa }
    &:hover:not(:read-only) { border-color: #aaa }

    &:focus, &:hover:focus {
        border-color: rgb(39, 129, 255);
        outline: 0;
    }

    &::placeholder {
        opacity: 0.7;
    }
}

@mixin width {
    width: 100%;
    max-width: var(--max-w);
    min-width: var(--min-w);
    margin: 0 auto;
}