.portal-action {
  height: 5rem;
  flex-shrink: 0;

  .action-inner {
    display: flex;
    height: 5rem;
    background-color: #fff;
  }
}

.button-modal {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 700;
  color: #222;

  &:not(:first-of-type) { border-left: 1px solid #d8d8d8 }
  &.confirm { color: var(--primary) }
  &.delete { color: var(--error) }
}

.button-action {
  flex: 1;
  height: 5rem;
  border-top: 1px solid #d8d8d8;
  font-size: 1.6rem;
  font-weight: 600;

  &:not(:first-child) { border-left: 1px solid #d8d8d8 }

  &.confirm:not(:disabled) {
    border-color: var(--primary);
    background-color: var(--primary);
  }
}