@use '../base/mixin';

.full-root {
  @include mixin.width;
  z-index: 999;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  transform: translateX(100%);
  transition: transform 0.5s var(--ease);

  &.open {
    transform: translateX(0);
  }

  .header-portal {
    position: relative;
    height: auto;
  }
}

.full-user {
  display: flex;
  align-items: center;
  padding: 0.8rem 0 0.5rem;
  font-size: 1.8rem;

  button {
    margin-left: auto;
    margin-right: 0.5rem;
  }
}

.nav-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  padding: calc(var(--spd) * 2) var(--spd);
}

.nav-list {
  padding: 1.5rem 1.5rem 5rem;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  font-weight: 700;

  .child-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0 1.4rem 3.6rem;
    font-size: 1.4rem;

    & > * {
      padding: 0.8rem 0;
    }
  }
}

.menu-root,
.setting-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.2rem 0;
  border-bottom: 1px solid #f0f0f0;

  .name {
    position: relative;
    display: flex;
    align-items: center;
    height: 2.8rem;
    padding-left: 3.6rem;

    .ico-root {
      position: absolute;
      top: 50%;
      left: -5px;
      transform: translateY(-50%);
      background: url(/src/assets/images/pic/pic_notice.png) no-repeat left center / 3.2rem;
    }

    .nav-notice {
      background-image: url(/src/assets/images/pic/pic_notice.png);
    }
    .nav-ca {
      background-image: url(/src/assets/images/pic/pic_ca.png);
    }
    .nav-rs {
      background-image: url(/src/assets/images/pic/pic_rs.png);
    }
    .nav-ep {
      background-image: url(/src/assets/images/pic/pic_ep.png);
    }
    .nav-bell {
      background-image: url(/src/assets/images/pic/pic_bell.png);
    }
    .nav-ac {
      background-image: url(/src/assets/images/pic/pic_ac.png);
    }
    .nav-acdm {
      background-image: url(/src/assets/images/pic/pic_acdm.png);
    }
  }
}

.accordion-root {
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.3s;

  &.fold {
    max-height: 0;
  }
}
