@use '../base/mixin';

.header-portal {
  z-index: 99;
  // position: fixed;
  // inset: 0 0 auto 0;
  position: relative;
  @include mixin.width;
  display: flex;
  flex-direction: column;
  height: var(--header-h);
  padding: 0 0.8rem 0.8rem;
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05), 0 1px 0 0 rgba(0, 0, 0, 0.1);

  &.header-main {
    flex-direction: row-reverse;
    align-items: center;
    height: unset;
    box-shadow: none;

    .header-portal-title {
      margin-right: auto
    }
  }
}

.header-portal-title {
  display: flex;
  align-items: center;
  // height: 3.6rem;
  height: 2.8rem;
  gap: 0.5rem;

  .btn-ico {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }

  .title {
    font-size: 2.2rem;
  }
}

.header-portal-logo {
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 1.6rem;

  img {
    width: 4.7rem;
  }
}

.header-portal-utils {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.4rem;
  padding-left: 5px;

  .utils {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .time {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 0.4rem;
    font-family: var(--nanum);
    font-size: 1.3rem;
    font-weight: 800;
    background: url(/src/assets/images/icon/ico_clock.svg) no-repeat left center;
  }
}
