.account-complete {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10vh 0 15vh;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #666;

  .title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.3;
    color: #222;

    em {
      font-weight: 600;
      color: var(--primary-t)
    }
  }

  .desc {
    max-width: 320px;
    word-break: keep-all;
  }

  .title-em {
    font-weight: 700;
    font-size: 2.8rem;
    color: #222
  }
}

.account-complete-img {
  width: 10rem;
  // max-width: 200px;
  margin-bottom: 2vh
}
.account-fail-img {
  width: 6.3rem;
  margin-left: 1rem;
  // max-width: 200px;
  margin-bottom: 2vh
}

.account-system-img {
  width: 8rem;
  margin-bottom: 1vh
}