.notice-header {
  padding: 2rem 0;
  border-bottom: 1px solid #f0f0f0;
  word-break: keep-all;

  .title {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #979797;
  }
}

.notice-file-list {
  li {
    display: flex;
    align-items: center;
    height: 4.5rem;
    border-bottom: 1px solid #f0f0f0;
    font-size: 1.3rem;
  }

  li,
  a {
    display: flex;
    justify-content: space-between;
  }

  a {
    width: 100%;
    text-decoration: underline;
  }
}

.notice-body,
.privacy-body {
  flex-grow: 1;
  padding: 3rem 0;
  font-size: 1.5rem;
  line-height: 1.47;
}

.privacy-header {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 0 2.5rem;

  .select-root {
    min-width: 11rem;
  }
}

.timeset-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem; 

  .select-root {
    min-width: 10rem
  }
}

.refreshset-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  font-size: 1.3rem
}