.timeset-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem; 

  .select-root {
    min-width: 10rem
  }
}

.refreshset-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  font-size: 1.3rem
}