.setting-list,
.setting-wrap,
.terms-root {
  margin: var(--vpd) 0
}

// panel
.portal-panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2rem;
  margin-top: 1.6rem;

  .title {
    font-size: 2rem;
    font-weight: 700;
  }
}

.portal-panel-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}

.portal-panel-weather {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .tem {
    font-size: 2.4rem;
    font-weight: 300;

    small {
      display: inline-block;
      font-size: 0.58em;
      transform: translateY(-0.7em);
    }
  }
}

.form-value-list {
  display: table;
  border-spacing: 2rem 0;
  width: 100%;
  margin-top: var(--vpd);
  font-size: 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 4px 0 #00000040;

  & > li {
    display: table-row;
  }

  .label,
  .value {
    display: table-cell;
    padding: 1.5rem 0;
  }

  .value {
    width: 70%;
    font-weight: 700;
  }
}

.box-msg {
  width: 100%;
  padding: 1.7rem;
  border-radius: 0.8rem;
  background-color: var(--bg);
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
  line-height: 1.4;

  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem
  }

  li {
    font-size: 1.4rem;
    color: #666;
    word-break: keep-all;
    padding-left: 1.1em;
    text-indent: -1.1em;
    &::before { content: 'ㆍ ' }
  }

  &.error {
    background-color: #FF5656;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }

  em {
    color: #222;
    font-weight: 700;
  }

  .c-state {
    margin-top: 0.8rem
  }
}

.c-err {
  color: var(--error) !important;
}
.c-primary {
  color: var(--primary-t) !important;
}
.c-state {
  color: #1A51BE;
  font-weight: 600
}

.portal-noti {
  display: block;
  padding: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
  word-break: keep-all;
}

.txt-between {
  display: inline-flex;
  gap: 1.5em
}